@mixin flex($display, $flex_direction, $justify_content, $align_item, $gap) {
    display: $display;
    flex-direction: $flex_direction;
    justify-content: $justify_content;
    align-items: $align_item;
    gap: $gap;
}