@mixin hero($background-color, $color) {
    background-color: $background-color;
    color: $color;
}

@mixin text-wrapper($font_family, $padding_top, $text-align) {
    font-family: $font_family;
    padding-top: $padding_top;
    text-align: $text-align;
}

@mixin text-wrapper__h($font_size, $line_height, $font_family, $font_weight, $margin_bottom) {
    font-size: $font_size;
    line-height: $line_height;
    font-family: $font_family;
    font-weight: $font_weight;
    margin-bottom: $margin_bottom;
}

@mixin text-wrapper__p($margin_block, $line_height, $font_size, $font_weight, $margin_top) {
    margin-block: $margin_block;
    line-height: $line_height;
    letter-spacing: 1px;
    font-size: $font_size;
    font-weight: $font_weight;

    span {
        margin-top: $margin_top;
    }
}

@mixin a_underline($color, $text_dec, $text_underline_offset, $text_decoration_color, $transition, $hover_decoration) {
    color: $color;
    text-decoration: $text_dec;
    text-underline-offset: $text_underline_offset;
    text-decoration-thickness: 1px;
    text-decoration-color: $text_decoration_color;
    transition: $transition;

    &:hover {
        text-decoration: $hover_decoration;
        text-decoration-thickness: 1px;
    }
}

@mixin hero-right($width, $img_width) {
    width: $width;

    img {
        width: $img_width;
    }
}