@mixin nav-header($background, $padding, $width, $z-index) {
    background-color: $background;
    padding: $padding;
    width: $width;
    z-index: $z-index;
}

@mixin nav-logo($color, $font_family, $font_weight, $font_size) {
    color: $color;
    font-family: $font_family;
    font-weight: $font_weight;
    font-size: $font_size;
}

@mixin nav__burger($font_size, $color, $transition, $hover_color) {
    font-size: $font_size;
    color: $color;
    transition: $transition;

    &:hover {
        color: $hover_color;
    }
}