@mixin section($background) {
    background-color: $background;
}

@mixin section3-images($padding) {
    padding: $padding;
}

@mixin section3-img($width, $height, $border_radius, $overflow) {
    width: $width;
    height: $height;
    border-radius: $border_radius;
    overflow: $overflow;
}

@mixin section3__img-big($width, $height) {
    width: $width;
    height: $height;
}

@mixin section3-content($color, $text_align, $padding_bottom) {
    color: $color;
    text-align: $text_align;
    padding-bottom: $padding_bottom;
}