@mixin traditional_content($background, $width, $padding, $border_radius, $box_shadow, $position) {
    background-color: $background;
    width: $width;
    padding: $padding;
    border-radius: $border_radius;
    box-shadow: $box_shadow;
    position: $position;
    top: 1200px;
    left: 25%;
}