@mixin traditional_cooking($height, $padding_top) {
    height: $height;
    padding-left: $padding_top;
}

@mixin traditional_content($background, $width, $padding, $border_radius, $box_shadow) {
    background-color: $background;
    width: $width;
    padding: $padding;
    border-radius: $border_radius;
    box-shadow: $box_shadow;
}

@mixin traditional_circle($overflow, $border_radius, $border, $img_width) {
    overflow: $overflow;
    border-radius: $border_radius;
    border: $border;

    img {
        width: $img_width;
    }
}

@mixin tCircle1($transform) {
    transform: $transform;
}

@mixin tCircle($width, $height, $top, $left) {
    width: $width;
    height: $height;
    top: $top;
    left: $left;
}

@mixin tCircle3($border, $background) {
    border: $border;
    background-color: $background;
}

@mixin tCircle4($border_width) {
    border-width: $border_width;
}