@use '../variables' as *;
@use './mixin' as *;

#about {
    height: 90vh;
    background-color: #103c3b;
    padding-top: 100px;

    .about-container {

        width: 85%;

    .about__media {

            height: 500px;
            position: relative;

            .about__image-wrapper--primary {

                transition: transform 0.5s;

                @include about-img(absolute, 28px, unset, -12px, unset, $aboutImgBorder, 10px, 2);

                &:hover {
                    transform: scale(1.05)
                }

                img {
                    width: 100%;
                }
            }

            .about__image-wrapper--secondary {

                @include about-img(absolute, unset, 25px, unset, 50px, $aboutImgBorder, 15px, 2);

                transition: transform 0.5s, box-shadow 0.5s; 

                &:hover {
                    transform: rotate3d(-1, 1, 0.5, 35deg) translateZ(40px);
                    box-shadow: 15px 20px 20px 10px #03302e;
                }

                img {
                    width: 100%;
                }
            }

            &::before {
                content: url(https://aterna.joomlatema.net/templates/aterna/images/about-1-shape1.png);
                position: absolute;
                left: -45px;
                top: 0;
            }

            &::after {
                content: url(https://aterna.joomlatema.net/templates/aterna/images/about-1-shape2.png);
                position: absolute;
                right: 15px;
                bottom: -15px;
                z-index: 0;
            }
        
    }

    .about__content {
        padding-top: 30px;
        padding-left: 0;

        .about-subtitle {

            @include subtitle(120px);
        }

        .about-title {
            @include title(44px);
        }

        .about-desc {
            font-size: 20px;
            color: $white;
        }

        .about__list {
            margin-left: -35px;
            color: $white;
            font-size: 18px;
            font-weight: 700;
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 20px;

            &::before {
                content: '\F633';
                font-family: "bootstrap-icons";
                color: $secondary-color;
                font-size: 30px;
                font-weight: 900;
                
            }
        }
    }

}
}