@use './mixin' as *;
@use '../variables' as *;

footer {
    height: 70vh;
    background: $footer-background url(https://aterna.joomlatema.net/templates/aterna/images/footer-bg.png);

    .footer-container {
        padding-top: 100px;
        .footer-container__item {
            // background-color: red;
            padding: 0;
            padding-left: 10px;
            .footer-brend {
                width: 1;
            }

            .footer-container__item-p {
                @include paragraph(16px, 400, 0.5px, 1.6);
                margin-top: 20px;
            }

            .footer-container__content {
                .footer-container__item__content-p {
                    @include paragraph(16px, 400, 0.5px, 1.6);


                    .bi-telephone-fill,
                    .bi-geo-alt-fill,
                    .bi-envelope-fill {
                        color: $secondary-color;
                        font-size: 18px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}

#footer__nav {
    background-color: #041111;
    padding-block: 20px;
    
    .footer__nav-container {
        @include flex(row, space-between, center);

        .footer__nav-p {
            margin: 0;
            @include paragraph(14px, 400, 0.5px, 1.8);

            a {
                @include paragraph(14px, 400, 0.5px, 1.8);
                color: $secondary-color;
                text-decoration: none;
                transition: text-decoration 0.4s, text-underline-offset 0.4s,
                letter-spacing 0.4s ;

                &:hover {
                    text-decoration: underline wavy $whyUs-title-color 1.5px;
                    text-underline-offset: 2px;
                    letter-spacing: 1px; 
                }
            }
        }

        .footer__nav-item-wrapper {
            @include flex(row, space-between, center);
            gap: 15px;
            margin: 0;

            .footer__nav-item {

                .footer__nav-link {
                    font-family: $fontkode;
                    text-decoration: none;
                    @include paragraph(15px, 400, 0.5px, 1.8);
                    transition: color 0.4s;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}