@use '../variables' as *;
@use './mixin' as *;
@use './position' as *;

.hero {
  height: 100vh;
  position: relative;
}

.hero-main {
  
  @include position(44%, unset, 10%, unset);

  .hero-card {
    background-color: transparent;
    border: none;
    width: 700px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.414);
    overflow: hidden;

    h5 {
      color: $white;
      font-size: 50px;
      font-family: $fontjost;
      font-weight: 500;

      span {
        color: $secondary-color;
      }
    }

    p {
      
      @include paragraph(21px, 700, unset, unset);
      
    }

    .hero__btn {
      
      @include btn($white, $secondary-color, 10px 24px, 14px, 500);

      margin-top: 20px;

    }

    .hero__btn-secondary {
      @include btn($white, $primary-color, 10px 24px, 14px, 500);

      margin-top: 20px;
    }
  }
}

.carousel-control-prev, .carousel-control-next {
  margin-inline: 20px;
  background-color: #000000;
  width: 60px;
  height: 80px;
  border-radius: 6px;
  top: 50%;
  transform: translatey(50%);
}