@use '../variables' as *;
@use '../funcs/btn' as *;

.hero {
  height: 100vh;
  position: relative;
}

.hero-main {
  position: absolute;
  top: 30%;
  left: 27%;

  .hero-card {
    background-color: transparent;
    border: none;
    width: 500px;

    h5 {
      color: $white;
      font-size: 40px;
      font-family: $fontkode;
      font-weight: 700;
    }

    p {
      font-size: 17px;
      line-height: 1.75;
      color: rgba(255, 255, 255, 0.6);
    }

    .hero__btn {
      
      @include btn($white, $secondary-color, none, 6px, 10px 24px, 14px, 500, 2px);

      transition: transform 0.3s ease, box-shadow 0.3s ease;

      // &::before {
      //   content: '';
      //   position: absolute;
      //   inset: 0;
      //   z-index: -1;
      //   background: linear-gradient(135deg, $secondary-color, $primary-color);
      //   opacity: 0;
      //   transition: opacity 0.3s ease;
      // }

      // &:hover {
      //   transform: translateY(-2px);
      //   box-shadow: 0 5px 32px rgba($primary-color, 0.65);

      //   &::before {
      //     opacity: 1;
      //   }
      // }
    }
  }
}

// .hero-card {
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translatex(-50%);
//     }