$navbackground: #1c4645a9;
$primary-color: #103c3bcc;
$secondary-color: #b07e50;
$white: #ffffff;
$black: #000000;
$fontkode: kode mono;
$fontjost: Jost;
$fontrubik: Rubik;
$aboutImgBorder: 10px solid #1c4645;