@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.navbar {
  background: rgba(28, 70, 69, 0.662745098);
  width: 85%;
  height: 80px;
  padding-inline: 20px;
  position: fixed;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: kode mono;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3607843137);
}

.navbar-brand {
  margin: 0 40px 0 0;
  width: 13%;
  padding: 0;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
  font-weight: bold;
}

.nav-link {
  color: #ffffff !important;
  font-size: 18px;
  transition: letter-spacing 0.3s;
}
.nav-link:hover {
  color: #b07e50 !important;
  letter-spacing: 1px;
}

.dropdown:hover .nav-link {
  color: #b07e50 !important;
}

.nav-item.dropdown .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.2s ease-in-out;
  background: rgba(28, 70, 69, 0.662745098);
  backdrop-filter: blur(5px);
  color: #ffffff;
  border: none;
  padding-top: 20px;
}
.nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #ffffff;
  position: relative;
  transition: transform 0.3s, color 0.3s;
}
.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  color: #b07e50;
  background-color: transparent;
  transform: translateX(12px);
}
.nav-item.dropdown .dropdown-menu .dropdown-item:hover::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1.5px;
  background-color: #b07e50;
  left: 0;
  top: 50%;
  animation: fillUp 0.3s ease-in-out forwards;
}
@keyframes fillUp {
  0% {
    width: 0%;
  }
  100% {
    width: 10px;
  }
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-toggle::after {
  content: "<";
  border: none;
  position: absolute;
  transform: rotate(-90deg);
  transition: all 0.4s;
  margin-left: 6px;
  color: #b07e50;
}
.dropdown-toggle:hover::after {
  transform: rotate(90deg);
  color: #ffffff;
}

.dropdown:hover .dropdown-toggle::after {
  transform: rotate(90deg);
  color: #ffffff;
}

.active {
  position: relative;
  color: #b07e50 !important;
}

.nav-item {
  position: relative;
}
.nav-item::before {
  content: "\f06c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 18px;
  color: #b07e50;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%) translateY(-6px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}
.nav-item:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.nav-btn {
  color: #ffffff;
  background-color: #b07e50;
  border: none;
  border-radius: 6px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  background-image: linear-gradient(to bottom, #ffb40a 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s ease-in-out, transform 0.3s;
}
.nav-btn:hover {
  background-position: top;
  transform: translate(-5px, -5px);
}

@media (max-width: 1200px) {
  .navbar-toggler {
    border: none;
    box-shadow: 4px 4px 10px 1px rgba(110, 111, 111, 0.9058823529);
  }
}
.hero {
  height: 100vh;
  position: relative;
}

.hero-main {
  position: absolute;
  top: 44%;
  left: 10%;
}
.hero-main .hero-card {
  background-color: transparent;
  border: none;
  width: 700px;
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, 0.414);
  overflow: hidden;
}
.hero-main .hero-card h5 {
  color: #ffffff;
  font-size: 50px;
  font-family: Jost;
  font-weight: 500;
}
.hero-main .hero-card h5 span {
  color: #b07e50;
}
.hero-main .hero-card p {
  font-size: 21px;
  color: #ffffff;
}
.hero-main .hero-card .hero__btn {
  color: #ffffff;
  background-color: #b07e50;
  border: none;
  border-radius: 6px;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  background-image: linear-gradient(to bottom, #ffb40a 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s ease-in-out, transform 0.3s;
}
.hero-main .hero-card .hero__btn:hover {
  background-position: top;
  transform: translate(-5px, -5px);
}
.hero-main .hero-card .hero__btn {
  margin-top: 20px;
}
.hero-main .hero-card .hero__btn-secondary {
  color: #ffffff;
  background-color: #103c3b;
  border: none;
  border-radius: 6px;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  background-image: linear-gradient(to bottom, #ffb40a 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s ease-in-out, transform 0.3s;
}
.hero-main .hero-card .hero__btn-secondary:hover {
  background-position: top;
  transform: translate(-5px, -5px);
}
.hero-main .hero-card .hero__btn-secondary {
  margin-top: 20px;
}

.carousel-control-prev, .carousel-control-next {
  margin-inline: 20px;
  background-color: #000000;
  width: 60px;
  height: 80px;
  border-radius: 6px;
  top: 50%;
  transform: translatey(50%);
}

#about {
  height: 90vh;
  background-color: #103c3b;
  padding-top: 100px;
}
#about .about-container {
  width: 85%;
}
#about .about-container .about__media {
  height: 500px;
  position: relative;
}
#about .about-container .about__media .about__image-wrapper--primary {
  transition: transform 0.5s;
  position: absolute;
  top: 28px;
  bottom: unset;
  left: -12px;
  right: unset;
  border: 10px solid #1c4645;
  border-radius: 10px;
  z-index: 2;
}
#about .about-container .about__media .about__image-wrapper--primary:hover {
  transform: scale(1.05);
}
#about .about-container .about__media .about__image-wrapper--primary img {
  width: 100%;
}
#about .about-container .about__media .about__image-wrapper--secondary {
  position: absolute;
  top: unset;
  bottom: 25px;
  left: unset;
  right: 50px;
  border: 10px solid #1c4645;
  border-radius: 15px;
  z-index: 2;
  transition: transform 0.5s, box-shadow 0.5s;
}
#about .about-container .about__media .about__image-wrapper--secondary:hover {
  transform: rotate3d(-1, 1, 0.5, 35deg) translateZ(40px);
  box-shadow: 15px 20px 20px 10px #03302e;
}
#about .about-container .about__media .about__image-wrapper--secondary img {
  width: 100%;
}
#about .about-container .about__media::before {
  content: url(https://aterna.joomlatema.net/templates/aterna/images/about-1-shape1.png);
  position: absolute;
  left: -45px;
  top: 0;
}
#about .about-container .about__media::after {
  content: url(https://aterna.joomlatema.net/templates/aterna/images/about-1-shape2.png);
  position: absolute;
  right: 15px;
  bottom: -15px;
  z-index: 0;
}
#about .about-container .about__content {
  padding-top: 30px;
  padding-left: 0;
}
#about .about-container .about__content .about-subtitle {
  background-color: #1c4645;
  color: #ffffff;
  font-size: 16px;
  width: 120px;
  text-align: center;
  padding-block: 5px;
  border-radius: 8px;
}
#about .about-container .about__content .about-subtitle:hover {
  animation: flip;
  animation-duration: 1.5s;
}
#about .about-container .about__content .about-title {
  font-size: 44px;
  font-weight: 700;
  color: #ffffff;
  font-family: Rubik;
}
#about .about-container .about__content .about-title span {
  color: #b07e50;
}
#about .about-container .about__content .about-desc {
  font-size: 20px;
  color: #ffffff;
}
#about .about-container .about__content .about__list {
  margin-left: -35px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
#about .about-container .about__content .about__list::before {
  content: "\f633";
  font-family: "bootstrap-icons";
  color: #b07e50;
  font-size: 30px;
  font-weight: 900;
}

#suggestedItems {
  height: 135vh;
  background-color: #28504f;
  padding-top: 40px;
}
#suggestedItems .suggested-subtitle {
  background-color: #1c4645;
  color: #ffffff;
  font-size: 16px;
  width: 140px;
  text-align: center;
  padding-block: 5px;
  border-radius: 8px;
}
#suggestedItems .suggested-subtitle:hover {
  animation: flip;
  animation-duration: 1.5s;
}
#suggestedItems .suggested-subtitle {
  margin: 0 auto;
}
#suggestedItems .suggested-title {
  font-size: 44px;
  font-weight: 700;
  color: #ffffff;
  font-family: Rubik;
}
#suggestedItems .suggested-title span {
  color: #b07e50;
}
#suggestedItems .suggested-title {
  text-align: center;
  margin-top: 40px;
}
#suggestedItems .suggested-container {
  margin-top: 40px;
}
#suggestedItems .suggested-container .suggested__btn {
  padding: 15px 30px;
  min-width: 200px;
  border: none;
  background-color: #1c4645;
  color: #ffffff;
  font-family: Rubik;
  transition: background-color 0.3s;
}
#suggestedItems .suggested-container .suggested__btn:hover {
  background-color: #b07e50;
}
#suggestedItems .suggested-container .suggested__btn-first {
  border-radius: 30px 0 0 30px;
}
#suggestedItems .suggested-container .suggested__btn-last {
  border-radius: 0 30px 30px 0;
}
#suggestedItems .suggested-container .suggested__active {
  background-color: #b07e50;
}
#suggestedItems .suggested__tab-container {
  padding-top: 40px;
  width: 83%;
  margin: 0 auto;
}
#suggestedItems .suggested__tab-container .suggested__tab-title {
  font-size: 44px;
  font-weight: 700;
  color: #ffffff;
  font-family: Rubik;
}
#suggestedItems .suggested__tab-container .suggested__tab-title span {
  color: #b07e50;
}
#suggestedItems .suggested__tab-container .suggested__tab-p {
  color: #ffffff;
  font-family: Rubik;
  text-align: justify;
  line-height: 1.8;
  margin-top: 20px;
}
#suggestedItems .suggested__tab-container .tab__btn {
  color: #ffffff;
  background-color: #b07e50;
  border: none;
  border-radius: 6px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  background-image: linear-gradient(to bottom, #ffb40a 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s ease-in-out, transform 0.3s;
}
#suggestedItems .suggested__tab-container .tab__btn:hover {
  background-position: top;
  transform: translate(-5px, -5px);
}
#suggestedItems .suggested__tab-container .suggested__tab-media {
  overflow: hidden;
  margin-top: 70px;
  filter: grayscale(1);
  transition: transform 0.3s, filter 0.3s;
}
#suggestedItems .suggested__tab-container .suggested__tab-media img {
  border-radius: 10px;
  transition: border-radius 0.3s;
}
#suggestedItems .suggested__tab-container .suggested__tab-media img:hover {
  border-radius: 50px;
}
#suggestedItems .suggested__tab-container .suggested__tab-media:hover {
  transform: translateX(30px) translateY(-30px);
  filter: grayscale(0);
}

.suggested__filter {
  height: 100vh;
  background-color: #1c4645;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: Jost;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */