:root {
    --purple-color: #8a8adc;
    --gold-color: #d4a574;
    --gray-color: #2c2c2c;
    --light-color: rgb(248, 249, 250);
    --white: #ffffff;
    --light-gray-color: #666666;
    --black-color: #000000;
    --purple-shadow: rgba(83, 83, 201, 0.608);
}