body {
    background-image: url('https://doorwin.onlywebcoding.com.ua/images/bg-header.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-nav {
    background-color: #062a4d6b;
    height: 12vh;
    margin-top: 20px;
    position: fixed;
    width: 97%;
    backdrop-filter: blur(5px);
    z-index: 999;
}

.main-nav__link {
    color: #ffffff;
    letter-spacing: -1px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    position: relative;
    transition: all 0.2s;
    z-index: 1;
}

.main-nav__link:focus {
    color: #a3b4dc;
}

.main-nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;              
  bottom: 15px;             
  left: 0;
  background-color: #4163b5;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
  z-index: -999;
  rotate: -4deg;
  border-radius: 10px;
}

.main-nav__link:hover::after {
  transform: scaleX(1);
}

.main-nav__link:hover {
    /* color: #a3b4dc; */
    color: #dee4f1;
}

.main-nav__link--active {
    color: #a3b4dc;
}

.main-nav__link--active:hover {
    color: #dee4f1;
}

.main-nav__socials--link {
    color: #ffffff;
    transition: all 0.2s;
}

.main-nav__socials--link:hover {
    color: #acb379;
}