@use '../variables' as *;
@use '../funcs/mixin' as *;


#pages_hero {
    height: 45vh;
    background: url(https://aterna.joomlatema.net/images/sampledata/slider-images/slider-1.jpg);
    width: 100%;
    padding-top: 150px;
    

    .pages-hero__wrapper {

        padding: 0;
        margin: 0;
        background-color: rgba($footer-background, 0.7);
        @include flex(row, center, center);

        
        .pages-hero__title-wrapper {

            .pages-hero__title {
                @include paragraph(40px, 500, 0.5px, 1.8);
                margin: 0;
            }
        }

        .pages-hero__nav-wrapper {
            @include flex(row, space-evenly, center);

            .pages-hero__nav-p {
                @include paragraph(16px, 400, 0.5px, 1.8);
                margin: 0;
            }

            .pages-hero__nav-a {
                @include paragraph(16px, 500, 0.5px, 1.8);
                text-decoration: none;
                color: $secondary-color;
                transition: color 0.4s;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

// ! form

.contact-main {
    height: 110vh;
    padding-bottom: 40px;
    background-color: $primary-color;
    @include flex(column, center, center);

    .contact-main__title {
        @include title(44px);
        font-weight: 450;
        width: 10%;
        margin-left: 10px;
    }

    .contact-main__content {
        padding: 15px;
        margin-top: 20px;
        background-color: $primary-color;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 10px $navbackground;

        

        .contact__label {
            @include paragraph(16px, 400, 0.7px, 1.8);
            color: rgba($white, 0.5);

            &::after {
                content: '*';
                color: $red;
                font-size: 18px;
                margin-left: 3px;
            }
        }
    }

    .contact-page__input-wrapper{
        @include flex(column, unset, unset);

    }
}

.contact-main__heading {
    @include paragraph(24px, 500, 0.5px, 1.8);
}

.contact-main__desc {
    @include paragraph(18px, 400, 0.7px, 1.8);
    color: rgba($white, 0.8);
}

.contact-main__info {
    padding: 30px;
    margin-top: 5px; 

    strong {
        color: $white;
    }
}

@media (max-width: 1200px) {
    .contact-main {
        height: 80vh;

    }
}

@media (max-width: 900px) {
    .contact-main {
        height: 120vh;
    }
}

@media (max-width: 769px) {
    .contact-main {
        height: 130vh;
    }
}