$hero_background : #1a1a1a;
$nav_background : #f5f5f5;
$white_color : #ffffff;
$black_color : #000000;
$orange_color : #ea480d;
$nav_color : #848484;
$font_family_raleway : Raleway, sans-serif;
$font_family_montserrat : Montserrat, sans-serif;
$transition : all 0.3s;
$z-modal:   200;
$z-header:  100;
$z-dropdown: 50;
$z-normal:    1;