.card-img {
  animation-name: comeIn;
  animation-duration: 1.5s;
  transform: scale(0);
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
}
@keyframes comeIn {
  to {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  color: #ffffff;
}

.nav-header {
  background-color: #f5f5f5;
  padding: 10px 200px;
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  bottom: unset;
  left: unset;
  right: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: unset;
}
.nav-header .header-logo a {
  color: #848484;
  font-family: cursive;
  font-weight: 600;
  font-size: 30px;
}
.nav-header .nav__burger {
  font-size: 40px;
  color: #848484;
  transition: all 0.3s;
}
.nav-header .nav__burger:hover {
  color: #ea480d;
}

#hero {
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  gap: 40px;
}
#hero .hero-left {
  font-family: Raleway, sans-serif;
  padding-top: 180px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: unset;
}
#hero .hero-left .hero-left__h2 {
  font-size: 3rem;
  line-height: 1;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}
#hero .hero-left .hero-left__p {
  margin-block: 30px;
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
}
#hero .hero-left .hero-left__p span {
  margin-top: 30px;
}
#hero .hero-left .hero-left__a {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  transition: all 0.3s;
}
#hero .hero-left .hero-left__a:hover {
  text-decoration: none;
}
#hero .hero-left .hero-left__btn {
  width: 45%;
  background-color: #ea480d;
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  transition: all 0.3s;
  margin: 0;
}
#hero .hero-left .hero-left__btn:hover {
  background-color: transparent;
  box-shadow: 0px 0px 20px #ea480d;
  color: #ffffff;
}
#hero .hero-right {
  width: 50.3%;
}
#hero .hero-right img {
  width: 100%;
}

#sectionClass {
  position: relative;
  height: 250vh;
  z-index: 1;
}
#sectionClass .online-class {
  padding-inline: 200px;
  width: 90%;
  z-index: 1;
  position: relative;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
#sectionClass .online-class .class-card-wrpper {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: unset;
  gap: 20px;
  position: absolute;
  top: -50px;
  bottom: unset;
  left: unset;
  right: unset;
}
#sectionClass .online-class .class-card-wrpper .card {
  background-color: #f14a0e;
  text-align: center;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  padding: 50px 20px;
  border-radius: 50px;
  z-index: 1;
}
#sectionClass .online-class .class-card-wrpper .card:nth-child(even) {
  background-color: #f57e54;
}
#sectionClass .online-class .class-card-wrpper .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
}
#sectionClass .online-class .class-card-wrpper .card .card-img {
  background-color: #ffffff;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 20px;
}
#sectionClass .online-class .class-card-wrpper .card .card-img img {
  width: 100%;
}
#sectionClass .online-class .class-card-wrpper .card .card__h4 {
  font-size: 1.5rem;
  margin-block: 30px;
  text-transform: capitalize;
  font-weight: 500;
}
#sectionClass .online-class .class-card-wrpper .card .card__p {
  font-size: 0.888889rem;
  margin-bottom: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
#sectionClass .circle-class .cirle1 {
  width: 250px;
  height: 250px;
  border: 50px solid #f57e54;
  border-radius: 50%;
  position: absolute;
  top: 440px;
  bottom: unset;
  left: unset;
  right: 80px;
}
#sectionClass .circle-class .circle-img {
  width: 854px;
  height: 854px;
  border-radius: 50%;
  overflow: hidden;
  border: 20px solid #f14a0e;
}
#sectionClass .circle-class .circle-img img {
  width: 100%;
  height: 100%;
}
#sectionClass .circle-class .circle-img {
  position: absolute;
  top: 500px;
  bottom: unset;
  left: unset;
  right: unset;
}
#sectionClass .circle-class .circle2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f14a0e;
  position: absolute;
  top: 1100px;
  bottom: unset;
  left: unset;
  right: unset;
}
#sectionClass .circle-class .circle3 {
  width: 200px;
  height: 200px;
  border: 40px solid #f57e54;
  border-radius: 50%;
  position: absolute;
  top: 1400px;
  bottom: unset;
  left: 350px;
  right: unset;
}
#sectionClass .circle-class .circle-card {
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
  border-radius: 50%;
  background-color: #f14a0e;
  padding: 50px;
  width: 750px;
  height: 750px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
  position: relative;
  top: 1000px;
  bottom: unset;
  left: 400px;
  right: unset;
}
#sectionClass .circle-class .circle-card .circle-card__h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin-bottom: 32px;
}
#sectionClass .circle-class .circle-card .circle-card__p {
  margin-block: 30px;
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
}
#sectionClass .circle-class .circle-card .circle-card__p span {
  margin-top: 30px;
}
#sectionClass .circle-class .circle-card .circle-card__a {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  transition: all 0.3s;
}
#sectionClass .circle-class .circle-card .circle-card__a:hover {
  text-decoration: none;
}
#sectionClass .circle-class .circle-card .circle-card__btn {
  width: 45%;
  background-color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: #ea480d;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  transition: all 0.3s;
  margin: 0;
}
#sectionClass .circle-class .circle-card .circle-card__btn:hover {
  background-color: transparent;
  box-shadow: 0px 0px 20px #ffffff;
  color: #ffffff;
}

#section3 {
  background-color: #000000;
}
#section3 .section3-images {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: unset;
}
#section3 .section3-images img {
  width: 384px;
  height: 384px;
  border-radius: 50%;
  overflow: hidden;
}
#section3 .section3-images .section__img-big {
  width: 524px;
  height: 524px;
}
#section3 .section3-content {
  color: #ffffff;
  text-align: center;
  padding-bottom: 80px;
  font-family: Raleway, sans-serif;
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: unset;
}
#section3 .section3-content .section3-content__h2 {
  font-size: 3rem;
  line-height: 1.1;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin-bottom: 3px;
}
#section3 .section3-content .section3-content__p {
  margin-block: 30px;
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
}
#section3 .section3-content .section3-content__p span {
  margin-top: 30px;
}
#section3 .section3-content .section3-content__a {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  transition: all 0.3s;
}
#section3 .section3-content .section3-content__a:hover {
  text-decoration: none;
}
#section3 .section3-content .section3-content__btn {
  width: 15%;
  background-color: #ea480d;
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  transition: all 0.3s;
  margin: 0 auto;
}
#section3 .section3-content .section3-content__btn:hover {
  background-color: transparent;
  box-shadow: 0px 0px 20px #ea480d;
  color: #ffffff;
}

#about {
  position: relative;
  background-color: #ea480d;
}
#about .about-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: unset;
  position: absolute;
  top: -150px;
  bottom: unset;
  left: unset;
  right: unset;
}
#about .about-img .about__img {
  width: 273px;
  height: 273px;
  border-radius: 50%;
  overflow: hidden;
}
#about .about-img .about__img-big {
  width: 416px;
  height: 416px;
}
#about .about-content .about-container-title {
  padding-top: 400px;
}
#about .about-content .about-container-title h3 {
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  text-align: center;
}
#about .about-content .about-container {
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  gap: 40px;
}
#about .about-content .about-container .about-container-item {
  flex: 1 500px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  gap: 20px;
}
#about .about-content .about-container .about-container-item .about-item-circle {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  flex-shrink: 0;
}
#about .about-content .about-container .about-container-item .about-item-text {
  flex-grow: 1;
}
#about .about-content .about-container .about-container-item .about-item-text h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}
#about .about-content .about-container .about-container-item .about-item-text p {
  font-style: italic;
  margin: 21px 0;
  line-height: 2;
}

#traditional_cooking {
  height: 250vh;
  padding-left: 40px;
  position: relative;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
#traditional_cooking .traditional-circle {
  overflow: hidden;
  border-radius: 100%;
  border: 20px solid #ea480d;
}
#traditional_cooking .traditional-circle img {
  width: 100%;
}
#traditional_cooking .traditional-circle {
  position: absolute;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
#traditional_cooking .tCircle1 {
  width: 320px;
  height: 320px;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
#traditional_cooking .tCircle2 {
  width: 500px;
  height: 500px;
  top: 400px;
  left: 15%;
}
#traditional_cooking .tCircle3 {
  width: 218px;
  height: 218px;
  top: 65%;
  left: 300px;
  border: none;
  background-color: #f57e54;
}
#traditional_cooking .tCircle4 {
  border-width: 25px;
  width: 134px;
  height: 134px;
  top: 50%;
  left: 500px;
}
#traditional_cooking .tCircle5 {
  width: 752px;
  height: 752px;
  top: 700px;
  left: 45%;
}
#traditional_cooking .traditional_content {
  background-color: #ea480d;
  width: 39.4%;
  padding: 40px;
  border-radius: 60px;
  box-shadow: 5px 5px 20px #ea480d;
  font-family: Raleway, sans-serif;
  padding-top: 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: unset;
  position: absolute;
  top: 1200px;
  bottom: unset;
  left: 25%;
  right: unset;
}
#traditional_cooking .traditional_content .traditional_content__h2 {
  font-size: 3rem;
  line-height: 1.1;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
#traditional_cooking .traditional_content .traditional_content__p {
  margin-block: 30px;
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 500;
}
#traditional_cooking .traditional_content .traditional_content__p span {
  margin-top: 30px;
}
#traditional_cooking .traditional_content .traditional_content__a {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  transition: all 0.3s;
}
#traditional_cooking .traditional_content .traditional_content__a:hover {
  text-decoration: none;
}
#traditional_cooking .traditional_content .traditional_content__btn {
  width: 45%;
  background-color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: #ea480d;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  transition: all 0.3s;
  margin: 0;
}
#traditional_cooking .traditional_content .traditional_content__btn:hover {
  background-color: transparent;
  box-shadow: 0px 0px 20px #ffffff;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */