body {
    background-color: #e3b8b8;
}

.parent-box {
    width: 500px;
    height: 500px;
    /* border: 2px solid black; */
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    position: relative;
}

h1 {
    animation-name: h1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px #959595;
    z-index: 999;
}

@keyframes h1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.child-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        #f27474 0deg 60deg, 
        transparent 60deg 360deg 
    );
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: spin 2s ease-in-out infinite;  
}

.child-box::before {
  content: '';
  position: absolute;
  width: 450px; 
  height: 450px;
  background-color: #e3b8b8; 
  border-radius: 50%;
}

.child-box:nth-child(2) {
    background: conic-gradient(
        #3b82f6 60deg 160deg, 
        transparent 160deg 360deg 
    );
    animation: spin 1.5s ease-in-out infinite;
}

.child-box:nth-child(3) {
    background: conic-gradient(
        transparent 160deg 270deg,
        #10b981 270deg 360deg 
    );
    animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(325deg);
  }
}
